* {
    background-color: lightblue;

}


body {
  font-family: 'Dancing Script', cursive;
  margin: auto;
 

}



.navbar {
  background-color: blue;
  border-radius: 2px;
  max-width: 400px;
}

.navbar a {
  color: black;
  display: inline-block;
  font-size: 40px;
  padding: 10px;

  text-decoration: none;
}



